$svgPath_duration:6s;
$svgPathTransition_duration:5001ms;

$frame: 3000ms;


html{
	font-size: 62.5%;
}

body{
	background-color: #000;
}

.bgsvg{
	background-color: transparent;
}

.scroll_icon{
	bottom: 12px;
}

.shell{
	display: none;
}

.fullpage{

	////////////////////////////////
	.cover{
		.fans_title{
			width:90%;
			margin-top: 51%;
			margin-top: 32vh;

		}

		.srm_logo{
			width:40%;
			margin-top: 13%;
			margin-top: 8vh;
		}

		.sands_svglogo{
			margin: 83% auto;
			margin: 51.6vh auto;

			.fp-viewing-cover & .svgpath{
				    animation-name: sands_svglogo_fans;
			}
		}
	}

	////////////////////////////////

	.artist{
		.title{

			font-size: 1rem;
			
			margin-top:0%;
			margin-top:1vh;
			margin-bottom: 6vh;

	


			p{
				background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
			    -webkit-background-clip: text;
			    background-clip: text;
			    -webkit-text-fill-color: transparent;
			    white-space: pre-wrap;

			    &:first-child{
			    	font-size: 1.4rem;

			    	line-height: 1;
			    }	
			}


		}

		.artist_pic{
			position: relative;
			height: 320px;
			height: 47vh;

			.artist_name{
				position: absolute;
				top: 0%;
			    writing-mode: tb;
				text-align: left;

				font-size: .7rem;
				line-height: 1.3;

				margin-left: -4%;

				background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
			    -webkit-background-clip: text;
			    background-clip: text;
			    -webkit-text-fill-color: transparent;
			    white-space: pre-wrap;

				span{
					font-size: .9rem;
				    margin-top: 0.7rem;
				}
			}

			img{
				position: absolute;
				top: 0;

				width: 30%;

				opacity: 0;

				/*filter: drop-shadow(0px 0px 7px #000);*/
			}

			img.zouxiaoyan{
				left: -5%;
			}

			img.dongkepin{
				left: 10%;
			}

			img.zhangliang{
				left: 26%;
			}

			img.sheshiman{
				left: 43%;
			}

			img.dazuo{
				right: 13%;
			}

			img.languijun{
				right: -5%;
			}



			.artist_name.zouxiaoyan{
				left: 8.333%;
				top: 69%;
			}
			.artist_name.dongkepin{
				left: 24.99999333333333%;
				top: 73%;
			}
			.artist_name.zhangliang{
				left: 41.66665333333333%;
				top: 77%;
			}
			.artist_name.sheshiman{
				left: 58.33331333333333%;
				top: 77%;
			}
			.artist_name.dazuo{
				left: 74.99997333333333%;
				top: 73%;
			}
			.artist_name.languijun{
				left: 91.66663333333333%;
				top: 69%;
			}




		}
	}

	////////////////////////////////
	
	.chef_A{
		.fp-viewing-chef_B & .frame.end{
			display: block;
			opacity: 1;
		    animation-name: frame_end;
		    animation-duration: 3000ms;
		    animation-timing-function: linear;
		    animation-iteration-count: 1;
		    animation-play-state: paused;
		}

		.fp-viewing-chef_B & .frame{
			animation-name: frame;
			animation-play-state:paused;
		}


	}

	.chef_B{
		.frame{
			display: block;
			opacity: 1;
		}
	}

	////////////////////////////////

	.restaurant{
		.first_title{
			span{
				font-size: 80%;
			}
		}

		.fp-viewing-la_chine & .svgpath{
            animation-name: restaurant_svg;
            animation-duration: $frame * 0.4;
            animation-timing-function: cubic-bezier(0.44,-0.01, 0.27, 0.99);
            animation-delay: 700ms;
            animation-iteration-count: 1;
            animation-fill-mode :both;

        }


        .fp-viewing-la_chine & .frame {
            animation-name: frame;
            animation-duration: $frame;
            animation-timing-function: linear;
            
            animation-iteration-count: 1;
            animation-play-state: running;
        }

        .fp-viewing-la_chine & .frame.end,
        .fp-viewing-la_chine_menu &.la_chine_menu .frame.end{
            animation-name: frame_end;
        }
        
        .fp-viewing-la_chine & .frame:nth-child(1){ animation-delay: .1s; }
        .fp-viewing-la_chine & .frame:nth-child(2){ animation-delay: $frame - $frame * 0.16 ;}
        .fp-viewing-la_chine &.la_chine_menu .frame:nth-child(2){ animation-delay: $frame - $frame * 0.16 ;}
        .fp-viewing-la_chine & .frame:nth-child(3){ animation-delay: $frame*2 - ($frame * 0.16) * 2 ;}

        .fp-viewing-la_chine & .frame.end .menu_pic{
            

            transition-property: transform;
            transition-duration: $frame *0.7;
            transition-timing-function: cubic-bezier(0, 0, 0.22, 0.99);
            transition-delay: $frame*0.7 ;

            transform: translate3d(0%, 0%, 0px);
        }

        .scene{
        	width: 100%;
        	height: 100%;

			/*display: table-cell;*/
			/*vertical-align: middle;*/

			position: relative;

			transform: translate3d(0%,0%,0px);


        	.bg{
        		width: 100%;
        		height: 100%;
				
				position: absolute;

				left: 0;
				top: 0;
				z-index: 1;

				
				animation-timing-function: linear;
				animation-iteration-count: 1;
				/*animation-play-state: paused;*/
				animation-fill-mode: both;
				animation-duration: $frame / 3;
				animation-delay: 10ms;

				transform: translate3d(0%,0%,0px);


				

        	}

        	.display_table{
				display: table;
    			table-layout: fixed;

    			width: 100%;
    			height: 100%;
			}
			.table_cell{
				display: table-cell;
    			vertical-align: middle;

    			width: 100%;
    			height: 100%;
			}
        }

        &.fp-completely{
        	.bg{
        		animation-name: restaurant_bg;
				/*animation-play-state: running;*/
				

        	}
        }

		&.la_chine{
			.scene{
				.bg{
					background-image: url("../../build/static/images/fans/la_chine_l.jpg");
					background-size: 100% auto;
					background-position: center;
					background-repeat: no-repeat;

					animation-delay: $frame;
				}
				
			}



		}
		&.golden_peacock{
			.scene{

				.bg{
					background-image: url("../../build/static/images/fans/golden_peacock_l.jpg");
					background-size: 100% auto;
					background-position: center;
					background-repeat: no-repeat;
				}

				img.chef{
					left: auto;
					right: 0px;
				}

				.restaurant_title{
					margin-top: 0%;
				}
				
			}
		}
		&.zi_yat_heen{
			.scene{

				.bg{
					background-image: url("../../build/static/images/fans/zi_yat_heen_l.jpg");
					background-size: 100% auto;
					background-position: center;
					background-repeat: no-repeat;


				}

				.restaurant_title{
					margin-top: 0%;
				}
				
			}



		}

		.restaurant_title{
			position: absolute;

			left: 0;

			bottom: 50%;

			z-index: 99;

			background-color: rgba(0, 0, 0, 0.7);
    		padding: .6rem 0;

			color: #fff;

			/*margin-top: 64%;*/
     		/*margin-top: 40vh; */

     		transform: translate3d(0%,0%,0px);

			h2{
				font-size: 1.4rem;
				font-weight: lighter;

				line-height: 1;

				margin: 0;

				background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				white-space: pre-wrap;


			}

			img{
				width: 50%;
				margin: .6rem 0;

				transform: translate3d(0%,0%,0px);
			}

			p{
				margin: 0;
			    font-size: 0.8rem;
			    line-height: 1.2;

			}

		}

		.chef{
			position: absolute;

			width: 65%;

			left: 0%;
			bottom: 0%;

			z-index: 100;

			transform: translate3d(0%,0%,0px);
		}

		.menu{
			position: absolute;

			left: 2rem;
			right: 2rem;
			top: 2rem;
			bottom: 2rem;

			background-color: rgba(0, 0, 0, 0.7);

			border-radius: 10px;

			box-shadow: 0px 0px 10px #000;

			border: 1px solid rgba(212, 166, 94, 0.4);

		    padding: 1rem;

		    overflow: hidden;

			p{
				margin: 0;
				line-height: 1.2;
				font-size: .9rem;

				background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				white-space: pre-wrap;
			}


			small{
				font-size: 70%;
				font-weight: bold;
			}

			h3{
				margin-top: 0;
			}
		}

		
		
	}


	////////////////////////////////

	.welcome{
		.link{
			width:40%;

			margin: 0 auto;
		}

		.title{
			margin: 0;
		}

		.wellcome_img{
			margin: 11% auto;
		}
	}



}


.picbg{
	position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 0;

	.restaurant{
		width: 100%;
		height: 100%;
		position: absolute;
		transition: opacity 500ms linear 600ms;
		left: 0;
		top: 0;

		background-size: 100% auto;
	    background-position: center;
	    background-repeat: no-repeat;

	    opacity: 0;
	}

	.la_chine{
		background-image: url("../../build/static/images/fans/la_chine_d.jpg");

		transition-delay:$frame;

		.fp-viewing-la_chine & {
			opacity: 1;
		}

		.fp-viewing-la_chine_menu & {
			opacity: 1;
		}

	}

	.golden_peacock{
		background-image: url("../../build/static/images/fans/golden_peacock_d.jpg");

		.fp-viewing-golden_peacock & {
			opacity: 1;
		}

		.fp-viewing-golden_peacock_menu & {
			opacity: 1;
		}
	}

	.zi_yat_heendiv{
		background-image: url("../../build/static/images/fans/zi_yat_heen_d.jpg");

		.fp-viewing-zi_yat_heen & {
			opacity: 1;
		}

		.fp-viewing-zi_yat_heen_menu & {
			opacity: 1;
		}
	}

	.dish{
		/*display: none;*/
		position: absolute;

		transform: translate(0%,0%);

		transition: transform ($frame / 3) cubic-bezier(0, 0, 0.33, 0.96) 300ms;

		z-index: 3;

			&.la_chine3{
				display: block;

				width: 50%;
			    bottom: -33%;
			    left: 26%;

				.fp-viewing-la_chine_menu &{
					transform: translate(0%,-69%);
				}

			}

			&.la_chine2{
				display: block;

				width: 38%;
				top: -21%;
				left: 96%;
				
				.fp-viewing-la_chine_menu &{
						transform: translate(-70%, 64%);
				}

			}

			&.la_chine1{
				display: block;

				width: 58%;
				top: -33%;
				left: -55%;

				.fp-viewing-la_chine_menu &{
						transform: translate(70%, 50%);
				}
			}

			////////

			&.golden_peacock3{
				display: block;

				width: 50%;
				top: -42%;
				left: -34%;

				.fp-viewing-golden_peacock_menu &{
					transform: translate(43%, 52%);
				}

			}

			&.golden_peacock2{
				display: block;

				width: 50%;
				top: 1%;
				left: 100%;
				
				.fp-viewing-golden_peacock_menu &{
						transform: translate(-80%, -28%);
				}

			}

			&.golden_peacock1{
				display: block;

				width: 82%;
				bottom: -17%;
				left: -95%;

				.fp-viewing-golden_peacock_menu &{
						transform: translate(90%, -27%);
				}
			}

			////////

			&.zi_yat_heen3{
				display: block;

				width: 60%;
				top: -8%;
				left: -60%;

				.fp-viewing-zi_yat_heen_menu &{
					transform: translate(95%, -8%);
				}

			}

			&.zi_yat_heen2{
				display: block;

				width: 60%;
				top: -6%;
				right: -58%;
				
				.fp-viewing-zi_yat_heen_menu &{
						transform: translate(-80%, 0%);
				}

			}

			&.zi_yat_heen1{
				display: block;

				width: 72%;
				bottom: -63%;
				left: -46%;

				.fp-viewing-zi_yat_heen_menu &{
						transform: translate(40%, -53%);
				}
			}
	}

}

.svg_restaurant {
    fill: none;
    stroke: url(#SVGID_restaurant_);
    stroke-width: 1.0333;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}


.artist_animation{

	opacity: 0;
	
	animation-duration: $frame / 2;
	animation-timing-function: cubic-bezier(0, 0, 0.33, 0.96);
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-fill-mode: both;

	.active & {
		animation-name: artist_animation;
	}

	&:nth-of-type(1){animation-delay:0 + ($frame / 16) * 5;};
	&:nth-of-type(2){animation-delay:0 + ($frame / 16) * 4;};
	&:nth-of-type(3){animation-delay:0 + ($frame / 16) * 3;};
	&:nth-of-type(4){animation-delay:0 + ($frame / 16) * 2;};
	&:nth-of-type(5){animation-delay:0 + ($frame / 16) * 1;};
	&:nth-of-type(6){animation-delay:0 + ($frame / 16) * 0;};
}


.ladder_animation{

	opacity: 0;

	animation-duration: $frame / 6;
	animation-timing-function: cubic-bezier(0, 0, 0.33, 0.96);
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-fill-mode: both;
	
	.fp-completely & {
		animation-name: ladder_animation;
	}

	&:nth-of-type(  1 ){animation-delay:0 + ($frame / 30) * 00;};
	&:nth-of-type(  2 ){animation-delay:0 + ($frame / 30) * 01;};
	&:nth-of-type(  3 ){animation-delay:0 + ($frame / 30) * 02;};
	&:nth-of-type(  4 ){animation-delay:0 + ($frame / 30) * 03;};
	&:nth-of-type(  5 ){animation-delay:0 + ($frame / 30) * 04;};
	&:nth-of-type(  6 ){animation-delay:0 + ($frame / 30) * 05;};
	&:nth-of-type(  7 ){animation-delay:0 + ($frame / 30) * 06;};
	&:nth-of-type(  8 ){animation-delay:0 + ($frame / 30) * 07;};
	&:nth-of-type(  9 ){animation-delay:0 + ($frame / 30) * 08;};
	&:nth-of-type( 10 ){animation-delay:0 + ($frame / 30) * 09;};
	&:nth-of-type( 11 ){animation-delay:0 + ($frame / 30) * 10;};
	&:nth-of-type( 12 ){animation-delay:0 + ($frame / 30) * 11;};
	&:nth-of-type( 13 ){animation-delay:0 + ($frame / 30) * 12;};
	&:nth-of-type( 14 ){animation-delay:0 + ($frame / 30) * 13;};
	&:nth-of-type( 15 ){animation-delay:0 + ($frame / 30) * 14;};
	&:nth-of-type( 16 ){animation-delay:0 + ($frame / 30) * 15;};
	&:nth-of-type( 17 ){animation-delay:0 + ($frame / 30) * 16;};

	&.delay:nth-of-type(  1 ){animation-delay:$frame + ($frame / 30) * 00;};
	&.delay:nth-of-type(  2 ){animation-delay:$frame + ($frame / 30) * 01;};
	&.delay:nth-of-type(  3 ){animation-delay:$frame + ($frame / 30) * 02;};
	&.delay:nth-of-type(  4 ){animation-delay:$frame + ($frame / 30) * 03;};
	&.delay:nth-of-type(  5 ){animation-delay:$frame + ($frame / 30) * 04;};
	&.delay:nth-of-type(  6 ){animation-delay:$frame + ($frame / 30) * 05;};
	&.delay:nth-of-type(  7 ){animation-delay:$frame + ($frame / 30) * 06;};
	&.delay:nth-of-type(  8 ){animation-delay:$frame + ($frame / 30) * 07;};
	&.delay:nth-of-type(  9 ){animation-delay:$frame + ($frame / 30) * 08;};
	&.delay:nth-of-type( 10 ){animation-delay:$frame + ($frame / 30) * 09;};
	&.delay:nth-of-type( 11 ){animation-delay:$frame + ($frame / 30) * 10;};
	&.delay:nth-of-type( 12 ){animation-delay:$frame + ($frame / 30) * 11;};
	&.delay:nth-of-type( 13 ){animation-delay:$frame + ($frame / 30) * 12;};
	&.delay:nth-of-type( 14 ){animation-delay:$frame + ($frame / 30) * 13;};
	&.delay:nth-of-type( 15 ){animation-delay:$frame + ($frame / 30) * 14;};
	&.delay:nth-of-type( 16 ){animation-delay:$frame + ($frame / 30) * 15;};
	&.delay:nth-of-type( 17 ){animation-delay:$frame + ($frame / 30) * 16;};

}

.bgsvg{
	.bgsvg1{
		.fp-viewing-artist & {
			transform: translate3d(-40%, -60%, 0px);
        	opacity: 1;
		}

		.fp-viewing-chef_B & {
			transform: translate3d(-40%, -40%, 0px);
        	opacity: 1;
		}

		.fp-viewing-la_chine &{
			opacity: 0;
		}
		.fp-viewing-la_chine_menu &{
			opacity: 0;
		}
		.fp-viewing-golden_peacock &{
			opacity: 0;
		}
		.fp-viewing-golden_peacock_menu &{
			opacity: 0;
		}
		.fp-viewing-zi_yat_heen &{
			opacity: 0;
		}
		.fp-viewing-zi_yat_heen_menu &{
			opacity: 0;
		}
	}

	.bgsvg2{
		.fp-viewing-artist & {
			transform: translate3d(-20%, -10%, 0px);
        	opacity: 1;
		}

		.fp-viewing-chef_B & {
			transform: translate3d(-50%, -30%, 0px);
        	opacity: 1;
		}

		.fp-viewing-la_chine &{
			opacity: 0;
		}
		.fp-viewing-la_chine_menu &{
			opacity: 0;
		}
		.fp-viewing-golden_peacock &{
			opacity: 0;
		}
		.fp-viewing-golden_peacock_menu &{
			opacity: 0;
		}
		.fp-viewing-zi_yat_heen &{
			opacity: 0;
		}
		.fp-viewing-zi_yat_heen_menu &{
			opacity: 0;
		}
	}
}


@keyframes artist_animation {
	from { transform: scale(1.3) translatey(20%);opacity: 0 }
	to { transform: scale(1) translatey(0%); opacity: 1}
}

@keyframes ladder_animation {
	from { transform:  translatey(10%);opacity: 0 }
	to { transform:  translatey(0%); opacity: 1}
}




@keyframes sands_svglogo_fans {
    from { 
            stroke-dasharray: 310;
    stroke-dashoffset: 310;
     }
    to { 
            stroke-dasharray: 310;
    stroke-dashoffset: 310*2;
     }
}

@keyframes restaurant_svg {
    from { 
            stroke-dasharray: 72;
    stroke-dashoffset: 72;
     }
    to { 
            stroke-dasharray: 72;
    stroke-dashoffset: 72*2;
     }
}

@keyframes restaurant_bg {
	from { opacity: 1; }
	to { opacity: 0; }
}