html {
  font-size: 62.5%; }

body {
  background-color: #000; }

.bgsvg {
  background-color: transparent; }

.scroll_icon {
  bottom: 12px; }

.fullpage .cover .fans_title {
  width: 90%;
  margin-top: 51%;
  margin-top: 32vh; }
.fullpage .cover .srm_logo {
  width: 40%;
  margin-top: 13%;
  margin-top: 8vh; }
.fullpage .cover .sands_svglogo {
  margin: 83% auto;
  margin: 51.6vh auto; }
  .fp-viewing-cover .fullpage .cover .sands_svglogo .svgpath {
    -webkit-animation-name: sands_svglogo_fans;
            animation-name: sands_svglogo_fans; }
.fullpage .artist .title {
  font-size: 1rem;
  margin-top: 0%;
  margin-top: 1vh;
  margin-bottom: 6vh; }
  .fullpage .artist .title p {
    background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap; }
    .fullpage .artist .title p:first-child {
      font-size: 1.4rem;
      line-height: 1; }
.fullpage .artist .artist_pic {
  position: relative;
  height: 270px;
  height: 45vh; }
  .fullpage .artist .artist_pic .artist_name {
    position: absolute;
    top: 0%;
    -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
            writing-mode: tb;
    text-align: left;
    font-size: .7rem;
    line-height: 1.3;
    margin-left: -4%;
    background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap; }
    .fullpage .artist .artist_pic .artist_name span {
      font-size: .9rem;
      margin-top: 0.7rem; }
  .fullpage .artist .artist_pic img {
    position: absolute;
    top: 0;
    width: 30%;
    opacity: 0;
    /*filter: drop-shadow(0px 0px 7px #000);*/ }
  .fullpage .artist .artist_pic img.zouxiaoyan {
    left: -5%; }
  .fullpage .artist .artist_pic img.dongkepin {
    left: 10%; }
  .fullpage .artist .artist_pic img.zhangliang {
    left: 26%; }
  .fullpage .artist .artist_pic img.sheshiman {
    left: 43%; }
  .fullpage .artist .artist_pic img.dazuo {
    right: 13%; }
  .fullpage .artist .artist_pic img.languijun {
    right: -5%; }
  .fullpage .artist .artist_pic .artist_name.zouxiaoyan {
    left: 8.333%;
    top: 69%; }
  .fullpage .artist .artist_pic .artist_name.dongkepin {
    left: 24.99999333333333%;
    top: 73%; }
  .fullpage .artist .artist_pic .artist_name.zhangliang {
    left: 41.66665333333333%;
    top: 77%; }
  .fullpage .artist .artist_pic .artist_name.sheshiman {
    left: 58.33331333333333%;
    top: 77%; }
  .fullpage .artist .artist_pic .artist_name.dazuo {
    left: 74.99997333333333%;
    top: 73%; }
  .fullpage .artist .artist_pic .artist_name.languijun {
    left: 91.66663333333333%;
    top: 69%; }
.fp-viewing-chef_B .fullpage .chef_A .frame.end {
  display: block;
  opacity: 1;
  -webkit-animation-name: frame_end;
          animation-name: frame_end;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }
.fp-viewing-chef_B .fullpage .chef_A .frame {
  -webkit-animation-name: frame;
          animation-name: frame;
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }
.fullpage .chef_B .frame {
  display: block;
  opacity: 1; }
.fullpage .restaurant .first_title span {
  font-size: 80%; }
.fp-viewing-la_chine .fullpage .restaurant .svgpath {
  -webkit-animation-name: restaurant_svg;
          animation-name: restaurant_svg;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-timing-function: cubic-bezier(0.44, -0.01, 0.27, 0.99);
          animation-timing-function: cubic-bezier(0.44, -0.01, 0.27, 0.99);
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.fp-viewing-la_chine .fullpage .restaurant .frame {
  -webkit-animation-name: frame;
          animation-name: frame;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running; }
.fp-viewing-la_chine .fullpage .restaurant .frame.end, .fp-viewing-la_chine_menu .fullpage .restaurant.la_chine_menu .frame.end {
  -webkit-animation-name: frame_end;
          animation-name: frame_end; }
.fp-viewing-la_chine .fullpage .restaurant .frame:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }
.fp-viewing-la_chine .fullpage .restaurant .frame:nth-child(2) {
  -webkit-animation-delay: 2520ms;
          animation-delay: 2520ms; }
.fp-viewing-la_chine .fullpage .restaurant.la_chine_menu .frame:nth-child(2) {
  -webkit-animation-delay: 2520ms;
          animation-delay: 2520ms; }
.fp-viewing-la_chine .fullpage .restaurant .frame:nth-child(3) {
  -webkit-animation-delay: 5040ms;
          animation-delay: 5040ms; }
.fp-viewing-la_chine .fullpage .restaurant .frame.end .menu_pic {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 2100ms;
          transition-duration: 2100ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.22, 0.99);
          transition-timing-function: cubic-bezier(0, 0, 0.22, 0.99);
  -webkit-transition-delay: 2100ms;
          transition-delay: 2100ms;
  -webkit-transform: translate3d(0%, 0%, 0px);
          transform: translate3d(0%, 0%, 0px); }
.fullpage .restaurant .scene {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle; }
  .fullpage .restaurant .scene .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .fullpage .restaurant .scene .display_table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; }
  .fullpage .restaurant .scene .table_cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; }
.fullpage .restaurant.fp-completely .bg {
  -webkit-animation-name: restaurant_bg;
          animation-name: restaurant_bg;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 1ms;
          animation-delay: 1ms; }
.fullpage .restaurant.la_chine .scene .bg {
  background-image: url("../../build/static/images/fans/la_chine_l.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms; }
.fullpage .restaurant.golden_peacock .scene .bg {
  background-image: url("../../build/static/images/fans/golden_peacock_l.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat; }
.fullpage .restaurant.golden_peacock .scene img.chef {
  left: auto;
  right: 0px; }
.fullpage .restaurant.golden_peacock .scene .restaurant_title {
  margin-top: 0%; }
.fullpage .restaurant.zi_yat_heen .scene .bg {
  background-image: url("../../build/static/images/fans/zi_yat_heen_l.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat; }
.fullpage .restaurant.zi_yat_heen .scene .restaurant_title {
  margin-top: 0%; }
.fullpage .restaurant .restaurant_title {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .6rem 0;
  color: #fff;
  margin-top: 64%;
  margin-top: 40vh; }
  .fullpage .restaurant .restaurant_title h2 {
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1;
    margin: 0;
    background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap; }
  .fullpage .restaurant .restaurant_title img {
    width: 50%;
    margin: .6rem 0; }
  .fullpage .restaurant .restaurant_title p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1; }
.fullpage .restaurant .chef {
  position: absolute;
  width: 65%;
  left: 0%;
  bottom: 0%;
  z-index: 3; }
.fullpage .restaurant .menu {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 2rem;
  bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
  border: 1px solid rgba(212, 166, 94, 0.4);
  padding: 1rem;
  overflow: hidden; }
  .fullpage .restaurant .menu p {
    margin: 0;
    line-height: 1.2;
    font-size: .9rem;
    background-image: linear-gradient(-45deg, #cb9950 0%, #fce9b5 24%, #fbe3ac 56%, #d5a861 61%, #c69246 81%, #fce9b5 84%, #fce9b5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap; }
  .fullpage .restaurant .menu small {
    font-size: 70%;
    font-weight: bold; }
  .fullpage .restaurant .menu h3 {
    margin-top: 0; }
.fullpage .welcome .link {
  width: 40%;
  margin: 0 auto; }
.fullpage .welcome .title {
  margin: 0; }
.fullpage .welcome .wellcome_img {
  margin: 11% auto; }

.picbg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 0; }
  .picbg .restaurant {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: opacity 500ms linear 600ms;
    transition: opacity 500ms linear 600ms;
    left: 0;
    top: 0;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; }
  .picbg .la_chine {
    background-image: url("../../build/static/images/fans/la_chine_d.jpg");
    -webkit-transition-delay: 3000ms;
            transition-delay: 3000ms; }
    .fp-viewing-la_chine .picbg .la_chine {
      opacity: 1; }
    .fp-viewing-la_chine_menu .picbg .la_chine {
      opacity: 1; }
  .picbg .golden_peacock {
    background-image: url("../../build/static/images/fans/golden_peacock_d.jpg"); }
    .fp-viewing-golden_peacock .picbg .golden_peacock {
      opacity: 1; }
    .fp-viewing-golden_peacock_menu .picbg .golden_peacock {
      opacity: 1; }
  .picbg .zi_yat_heendiv {
    background-image: url("../../build/static/images/fans/zi_yat_heen_d.jpg"); }
    .fp-viewing-zi_yat_heen .picbg .zi_yat_heendiv {
      opacity: 1; }
    .fp-viewing-zi_yat_heen_menu .picbg .zi_yat_heendiv {
      opacity: 1; }
  .picbg .dish {
    /*display: none;*/
    position: absolute;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-transition: -webkit-transform 1000ms cubic-bezier(0, 0, 0.33, 0.96) 300ms;
    transition: -webkit-transform 1000ms cubic-bezier(0, 0, 0.33, 0.96) 300ms;
    transition: transform 1000ms cubic-bezier(0, 0, 0.33, 0.96) 300ms;
    transition: transform 1000ms cubic-bezier(0, 0, 0.33, 0.96) 300ms, -webkit-transform 1000ms cubic-bezier(0, 0, 0.33, 0.96) 300ms;
    z-index: 3; }
    .picbg .dish.la_chine3 {
      display: block;
      width: 50%;
      bottom: -33%;
      left: 26%; }
      .fp-viewing-la_chine_menu .picbg .dish.la_chine3 {
        -webkit-transform: translate(0%, -69%);
                transform: translate(0%, -69%); }
    .picbg .dish.la_chine2 {
      display: block;
      width: 38%;
      top: -21%;
      left: 96%; }
      .fp-viewing-la_chine_menu .picbg .dish.la_chine2 {
        -webkit-transform: translate(-70%, 64%);
                transform: translate(-70%, 64%); }
    .picbg .dish.la_chine1 {
      display: block;
      width: 58%;
      top: -33%;
      left: -55%; }
      .fp-viewing-la_chine_menu .picbg .dish.la_chine1 {
        -webkit-transform: translate(70%, 50%);
                transform: translate(70%, 50%); }
    .picbg .dish.golden_peacock3 {
      display: block;
      width: 50%;
      top: -30%;
      left: -34%; }
      .fp-viewing-golden_peacock_menu .picbg .dish.golden_peacock3 {
        -webkit-transform: translate(43%, 52%);
                transform: translate(43%, 52%); }
    .picbg .dish.golden_peacock2 {
      display: block;
      width: 50%;
      top: 1%;
      left: 100%; }
      .fp-viewing-golden_peacock_menu .picbg .dish.golden_peacock2 {
        -webkit-transform: translate(-80%, -28%);
                transform: translate(-80%, -28%); }
    .picbg .dish.golden_peacock1 {
      display: block;
      width: 82%;
      bottom: -17%;
      left: -95%; }
      .fp-viewing-golden_peacock_menu .picbg .dish.golden_peacock1 {
        -webkit-transform: translate(90%, -27%);
                transform: translate(90%, -27%); }
    .picbg .dish.zi_yat_heen3 {
      display: block;
      width: 60%;
      top: -8%;
      left: -60%; }
      .fp-viewing-zi_yat_heen_menu .picbg .dish.zi_yat_heen3 {
        -webkit-transform: translate(95%, -8%);
                transform: translate(95%, -8%); }
    .picbg .dish.zi_yat_heen2 {
      display: block;
      width: 60%;
      top: -6%;
      right: -58%; }
      .fp-viewing-zi_yat_heen_menu .picbg .dish.zi_yat_heen2 {
        -webkit-transform: translate(-80%, 0%);
                transform: translate(-80%, 0%); }
    .picbg .dish.zi_yat_heen1 {
      display: block;
      width: 72%;
      bottom: -44%;
      left: -46%; }
      .fp-viewing-zi_yat_heen_menu .picbg .dish.zi_yat_heen1 {
        -webkit-transform: translate(40%, -53%);
                transform: translate(40%, -53%); }

.svg_restaurant {
  fill: none;
  stroke: url(#SVGID_restaurant_);
  stroke-width: 1.0333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.artist_animation {
  opacity: 0;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.33, 0.96);
          animation-timing-function: cubic-bezier(0, 0, 0.33, 0.96);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .active .artist_animation {
    -webkit-animation-name: artist_animation;
            animation-name: artist_animation; }
  .artist_animation:nth-of-type(1) {
    -webkit-animation-delay: 937.5ms;
            animation-delay: 937.5ms; }
  .artist_animation:nth-of-type(2) {
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms; }
  .artist_animation:nth-of-type(3) {
    -webkit-animation-delay: 562.5ms;
            animation-delay: 562.5ms; }
  .artist_animation:nth-of-type(4) {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms; }
  .artist_animation:nth-of-type(5) {
    -webkit-animation-delay: 187.5ms;
            animation-delay: 187.5ms; }
  .artist_animation:nth-of-type(6) {
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms; }

.ladder_animation {
  opacity: 0;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.33, 0.96);
          animation-timing-function: cubic-bezier(0, 0, 0.33, 0.96);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .fp-completely .ladder_animation {
    -webkit-animation-name: ladder_animation;
            animation-name: ladder_animation; }
  .ladder_animation:nth-of-type(1) {
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms; }
  .ladder_animation:nth-of-type(2) {
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms; }
  .ladder_animation:nth-of-type(3) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms; }
  .ladder_animation:nth-of-type(4) {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms; }
  .ladder_animation:nth-of-type(5) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms; }
  .ladder_animation:nth-of-type(6) {
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms; }
  .ladder_animation:nth-of-type(7) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms; }
  .ladder_animation:nth-of-type(8) {
    -webkit-animation-delay: 700ms;
            animation-delay: 700ms; }
  .ladder_animation:nth-of-type(9) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms; }
  .ladder_animation:nth-of-type(10) {
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms; }
  .ladder_animation:nth-of-type(11) {
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms; }
  .ladder_animation:nth-of-type(12) {
    -webkit-animation-delay: 1100ms;
            animation-delay: 1100ms; }
  .ladder_animation:nth-of-type(13) {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms; }
  .ladder_animation:nth-of-type(14) {
    -webkit-animation-delay: 1300ms;
            animation-delay: 1300ms; }
  .ladder_animation:nth-of-type(15) {
    -webkit-animation-delay: 1400ms;
            animation-delay: 1400ms; }
  .ladder_animation:nth-of-type(16) {
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms; }
  .ladder_animation:nth-of-type(17) {
    -webkit-animation-delay: 1600ms;
            animation-delay: 1600ms; }
  .ladder_animation.delay:nth-of-type(1) {
    -webkit-animation-delay: 3000ms;
            animation-delay: 3000ms; }
  .ladder_animation.delay:nth-of-type(2) {
    -webkit-animation-delay: 3100ms;
            animation-delay: 3100ms; }
  .ladder_animation.delay:nth-of-type(3) {
    -webkit-animation-delay: 3200ms;
            animation-delay: 3200ms; }
  .ladder_animation.delay:nth-of-type(4) {
    -webkit-animation-delay: 3300ms;
            animation-delay: 3300ms; }
  .ladder_animation.delay:nth-of-type(5) {
    -webkit-animation-delay: 3400ms;
            animation-delay: 3400ms; }
  .ladder_animation.delay:nth-of-type(6) {
    -webkit-animation-delay: 3500ms;
            animation-delay: 3500ms; }
  .ladder_animation.delay:nth-of-type(7) {
    -webkit-animation-delay: 3600ms;
            animation-delay: 3600ms; }
  .ladder_animation.delay:nth-of-type(8) {
    -webkit-animation-delay: 3700ms;
            animation-delay: 3700ms; }
  .ladder_animation.delay:nth-of-type(9) {
    -webkit-animation-delay: 3800ms;
            animation-delay: 3800ms; }
  .ladder_animation.delay:nth-of-type(10) {
    -webkit-animation-delay: 3900ms;
            animation-delay: 3900ms; }
  .ladder_animation.delay:nth-of-type(11) {
    -webkit-animation-delay: 4000ms;
            animation-delay: 4000ms; }
  .ladder_animation.delay:nth-of-type(12) {
    -webkit-animation-delay: 4100ms;
            animation-delay: 4100ms; }
  .ladder_animation.delay:nth-of-type(13) {
    -webkit-animation-delay: 4200ms;
            animation-delay: 4200ms; }
  .ladder_animation.delay:nth-of-type(14) {
    -webkit-animation-delay: 4300ms;
            animation-delay: 4300ms; }
  .ladder_animation.delay:nth-of-type(15) {
    -webkit-animation-delay: 4400ms;
            animation-delay: 4400ms; }
  .ladder_animation.delay:nth-of-type(16) {
    -webkit-animation-delay: 4500ms;
            animation-delay: 4500ms; }
  .ladder_animation.delay:nth-of-type(17) {
    -webkit-animation-delay: 4600ms;
            animation-delay: 4600ms; }

.fp-viewing-artist .bgsvg .bgsvg1 {
  -webkit-transform: translate3d(-40%, -60%, 0px);
          transform: translate3d(-40%, -60%, 0px);
  opacity: 1; }
.fp-viewing-chef_B .bgsvg .bgsvg1 {
  -webkit-transform: translate3d(-40%, -40%, 0px);
          transform: translate3d(-40%, -40%, 0px);
  opacity: 1; }
.fp-viewing-la_chine .bgsvg .bgsvg1 {
  opacity: 0; }
.fp-viewing-la_chine_menu .bgsvg .bgsvg1 {
  opacity: 0; }
.fp-viewing-golden_peacock .bgsvg .bgsvg1 {
  opacity: 0; }
.fp-viewing-golden_peacock_menu .bgsvg .bgsvg1 {
  opacity: 0; }
.fp-viewing-zi_yat_heen .bgsvg .bgsvg1 {
  opacity: 0; }
.fp-viewing-zi_yat_heen_menu .bgsvg .bgsvg1 {
  opacity: 0; }
.fp-viewing-artist .bgsvg .bgsvg2 {
  -webkit-transform: translate3d(-20%, -10%, 0px);
          transform: translate3d(-20%, -10%, 0px);
  opacity: 1; }
.fp-viewing-chef_B .bgsvg .bgsvg2 {
  -webkit-transform: translate3d(-50%, -30%, 0px);
          transform: translate3d(-50%, -30%, 0px);
  opacity: 1; }
.fp-viewing-la_chine .bgsvg .bgsvg2 {
  opacity: 0; }
.fp-viewing-la_chine_menu .bgsvg .bgsvg2 {
  opacity: 0; }
.fp-viewing-golden_peacock .bgsvg .bgsvg2 {
  opacity: 0; }
.fp-viewing-golden_peacock_menu .bgsvg .bgsvg2 {
  opacity: 0; }
.fp-viewing-zi_yat_heen .bgsvg .bgsvg2 {
  opacity: 0; }
.fp-viewing-zi_yat_heen_menu .bgsvg .bgsvg2 {
  opacity: 0; }

@-webkit-keyframes artist_animation {
  from {
    -webkit-transform: scale(1.3) translatey(20%);
            transform: scale(1.3) translatey(20%);
    opacity: 0; }
  to {
    -webkit-transform: scale(1) translatey(0%);
            transform: scale(1) translatey(0%);
    opacity: 1; } }

@keyframes artist_animation {
  from {
    -webkit-transform: scale(1.3) translatey(20%);
            transform: scale(1.3) translatey(20%);
    opacity: 0; }
  to {
    -webkit-transform: scale(1) translatey(0%);
            transform: scale(1) translatey(0%);
    opacity: 1; } }
@-webkit-keyframes ladder_animation {
  from {
    -webkit-transform: translatey(10%);
            transform: translatey(10%);
    opacity: 0; }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
    opacity: 1; } }
@keyframes ladder_animation {
  from {
    -webkit-transform: translatey(10%);
            transform: translatey(10%);
    opacity: 0; }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
    opacity: 1; } }
@-webkit-keyframes sands_svglogo_fans {
  from {
    stroke-dasharray: 310;
    stroke-dashoffset: 310; }
  to {
    stroke-dasharray: 310;
    stroke-dashoffset: 620; } }
@keyframes sands_svglogo_fans {
  from {
    stroke-dasharray: 310;
    stroke-dashoffset: 310; }
  to {
    stroke-dasharray: 310;
    stroke-dashoffset: 620; } }
@-webkit-keyframes restaurant_svg {
  from {
    stroke-dasharray: 72;
    stroke-dashoffset: 72; }
  to {
    stroke-dasharray: 72;
    stroke-dashoffset: 144; } }
@keyframes restaurant_svg {
  from {
    stroke-dasharray: 72;
    stroke-dashoffset: 72; }
  to {
    stroke-dasharray: 72;
    stroke-dashoffset: 144; } }
@-webkit-keyframes restaurant_bg {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes restaurant_bg {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
