@keyframes svgbg {
    from { 
        transform: translate3d(0%,0%,0px); 
        opacity: 1;
    }
    to { 
        transform: translate3d(3%,-3%,0px);
        opacity: 1; 
    }
}

@keyframes scroll_icon
{
    0%
    {
        transform: translate(0px,(0-$scroll_icon_size *1.8) ) scale(.4,.4);
    }
    33.333%
    {
        transform: translate(0px,0px ) scale(1,1);
    }
    48%
    {
        transform: translate(0px,0px ) scale(.5,.5);
    }
    100%
    {
        transform: translate(0px,(0-$scroll_icon_size *1.8) ) scale(.4,.4);
    }
}




@keyframes frame {
    0%  { opacity: 0; }
    16% {opacity: 1; }
    84% {opacity: 1; }
    100% { opacity: 0; }
}

@keyframes frame_end {
    0%  { opacity: 0; }
    16% {opacity: 1; }
    84% {opacity: 1; }
    100% { opacity: 1; }
}



@keyframes presenter_svg {
    from { 
        stroke-dasharray: 98;
            stroke-dashoffset: 98;
     }
    to { 
        stroke-dasharray: 98;
            stroke-dashoffset: 98*2;
     }
}

@keyframes chef_svg {
    from { 
        stroke-dasharray: 134;
    stroke-dashoffset: 135;
     }
    to { 
        stroke-dasharray: 134;
    stroke-dashoffset: 134*2;
     }
}

@keyframes menu_svg {
    from { 
            stroke-dasharray: 125;
    stroke-dashoffset: 125;
     }
    to { 
            stroke-dasharray: 125;
    stroke-dashoffset: 125*2;
     }
}

@keyframes sands_svglogo {
    from { 
            stroke-dasharray: 222;
    stroke-dashoffset: 222;
     }
    to { 
            stroke-dasharray: 222;
    stroke-dashoffset: 222*2;
     }
}















